<script src="average.js"></script>

<script src="predict.js"></script>

<script src="loss.js"></script>

<script src="training.js"></script>

<script src="testing.js"></script>

<script src="analysis.js"></script>

<script src="input.js"></script>
